@import './partials/alias-mixins'
.lineParent
    overflow: hidden

.single
    color: #5c5c5c
    header

        h3
            padding-top: 103px
            font-size: 14.3px
            line-height: 25px
            @include desk
                padding-top: 100px
                line-height: 47px
                font-size: 1.55vw

        h1
            //opacity: 0
            padding-top: 55px
            font-size: 126px
            letter-spacing: -8px
            @include desk
                font-size: 27.7vw
                letter-spacing: -27px
                margin-left: -2.1vw
                padding-top: 5px
                //padding-top: 0
                color: #101010

        h2
            font-size: 30px
            padding-top: 64px
            line-height: 48px
            @include desk
                width: 39.9%
                margin-left: 60.1%
                padding-top: 66px
                font-size: 2.2vw

    .lg-heading
        color: #101010;
    .callout
        p
            color: inherit;
    .three-col-block
        h3
            color: #101010;
        p
            color: inherit;
            strong
                color: #030905


.header-single
    background-color: #fff;

    .page__close
        font-family: 'pangramlight';
        width: 4vw;
        height: 4vw;
        border: 1px solid rgba(255, 255, 255, .20);
        border-radius: 50%;
        font-size: 10px !important;
        cursor: pointer;
        transition: .5s border ease-out
        &:hover
            border: 1px solid rgba(255, 255, 255, 1);
        &.bd-black
            border-color: rgba(0, 0, 0, .20);
            &:hover
                border: 1px solid rgba(0, 0, 0, 1);


//- =========================  3 STEPS  ========================= -//
//- =========================  3 STEPS  ========================= -//

.three-col-block
    padding-top: 200px;
    padding-bottom: 200px;
    h3
        text-align: center;
        margin-bottom: 100px;
    p
        font-size: 1.5vw;
        line-height: 1.5em;
        strong
            @include serif;
            letter-spacing: 2.07px;
            font-size: 1.2em;
            display: block;
    @include desk
        ul
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 5vw;

//- =========================  ROLE  ========================= -//
//- =========================  ROLE  ========================= -//

.role
    background-color: #fff
    //padding-top: 119px
    @include desk
        //padding-top: 100px
        height: 710px
        display: -ms-grid
        display: grid
        grid-template-areas: "infos brand" "motto brand"




    &__infos
        color: #000
        background: #FFB608
        padding: 52px 6.6vw 39px
        letter-spacing: 1.4px;
        @include desk
            padding: 0
            grid-area: infos
            height: 461px
            width: 35.6vw
            display: flex
            justify-content: center
            flex-direction: column




        .info
            padding-bottom: 28px
            @include desk
                margin-left: 9.6vw




            button , h2, p
                padding-bottom: 13px
                font-size: 20px
                color: #000
                margin: 0
                @include desk
                    font-size: 1vw !important
                    padding-bottom: 4px

            button
                letter-spacing: inherit

            h2
                margin-top: 28px;
                letter-spacing: 2.66px;

            p
                line-height: 29px !important

            p:last-child
                padding-bottom: 0;

            .website button
                text-decoration: underline



    &__brand
        color: #fff
        background: #001b2e
        height: 360px
        @include desk
            grid-area:  brand
            width: 64.4vw
            height: 100%

        &__img
            max-width: 160px
            @include desk
                max-width: 35%
            img
                width: 100%
                object-fit: contain


        h1
            font-size: 68px


    &__motto
        background: #FCFCFC
        height: 215px
        padding: 0 6.6vw
        @include desk
            padding: 0
            grid-area:  motto
            width: 35.6vw
            height: 249px
            display: flex
            justify-content: center
            flex-direction: column

        h2
            padding-top: 90px
            font-size: 39px
            @include desk
                font-size: 2.4vw
                white-space: nowrap
                margin-left: 9.6vw
                padding: 0










//- =========================  descr  ========================= -//
//- =========================  descr  ========================= -//

.mission
    background-color: #fff
    @include desk
        padding-top: 25.2vh


    &__hold

    p
        width: 90%
        margin-bottom: 53px
        @include desk
            margin: 0 auto
            width: 81.9%
            margin-bottom: 61px
            text-align: center

    p:last-of-type
        margin-bottom: 0


//- =========================  brief  ========================= -//
//- =========================  brief  ========================= -//

section.brief
	background-color: white

.mini-heading
    text-transform: uppercase
    font-size: 1.5vw
    font-weight: 400
    letter-spacing: 2.06px
    margin-bottom: 22px

.lg-heading
    font-size: 11.1vw
    @include serif
    letter-spacing: -3.8px
    line-height: 1.19em

.callout
    padding-top: 200px
    .copy
        width: 41.2vw
        margin-top: 100px
        margin-left: auto
        p
            margin-top: 50px
            font-size: 2.2vw

//- =========================  website  ========================= -//
//- =========================  website  ========================= -//

.website
    padding-bottom: 200px







//- =========================  colors  ========================= -//
//- =========================  colors  ========================= -//

.colors
    background-color: #fff
    padding-top: 91px
    @include desk
        padding-top: 200px


    p
        line-height: 50px
        margin-top: 24px
        @include desk
            font-size: 31px

    .inline
        @include desk
            display: inline-flex

    .color-name
        letter-spacing: 1px;

    &__texts

        @include desk
            width: 45.5%

        h4
            text-transform: uppercase;
            color: #101010;
        p
            @include desk
                font-size: 2.2vw;
                color: #5c5c5c
                width: 70%


    &__interact
        padding-top: 49px
        @include desk
            padding: 0
            width: 54.5%
            position: relative




        .svg-color
            height: 20px
            width: 20px
            margin-right: 26px

            svg
                width: 100%
                height: 100%

    &__ctn-colors
        padding-top: 84px
        @include desk
            padding: 0
            width: 100%

    &__travel
        display: inline-flex
        height: 333px
        @include desk
            width: 100%
            justify-content: space-between

    .each-color + .each-color
        margin-left: 18px
    .each-color
        width: 267px
        box-sizing: border-box;
        @include desk
            overflow: hidden
            width: 50%


        .texts
            margin-left: 15px
            display: flex
            flex-direction: column
            height: calc(100% - 40px)
            justify-content: space-between
            margin-top: 20px
            font-size: 13.5px;
            white-space: nowrap;

        .bottom-color
            line-height: 1.7em;


    .white
        border: 1px solid #dadada








//- =========================  MOCKUP  ========================= -//
//- =========================  MOCKUP  ========================= -//

.mockup
    background-color: #fff

    img
        margin-left: -15%
        width: 130%
        object-fit: contain

//- =========================  PARALLAX  ========================= -//
//- =========================  PARALLAX  ========================= -//

.parallax
    padding-top: 93px
    @include desk
        padding-top: 200px

.parallax
	position: relative
	width: 100%
	height: 1560px
	// max-height: 80vh
	overflow: hidden

	.parallax__bg
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		background-size: cover
		background-repeat: no-repeat
		background-position: center top;
		z-index: -1
        transform-origin: 50% 0;

	.parallax__bg
		@include desk
			position: fixed
			height: 100vh
			width: 100vw


.parallax
	&::after
		content: ''
		position: absolute
		background-color: #fff
		top: 0
		left: 0
		width: 100%
		height: 93px

.parallax
	&::after
    	@include desk
        	height: 220px



//- =========================    ========================= -//
//- =========================    ========================= -//

.descr
    background-color: #fff
    padding: 93px 0
    @include desk
        padding: 220px 0


    p
        @include desk
            font-size: 31.3px
            width: 74%
            line-height: 48px
            margin-bottom: 46px









//- =========================  DESCRIBE  ========================= -//
//- =========================  DESCRIBE  ========================= -//

.quote
    padding: 103px 0
    @include desk
        padding: 151px 0



    &__svg
        width: 54px
        height: 54px
        padding-bottom: 38px
        margin: 0 auto
        @include desk
            width: 85px
            height: 85px
            padding-bottom: 50px


        svg
            width: 100%
            height: 100%

            path
                fill: #fff

    &__text

        p
            @include desk
                text-align: center







//- =========================  homepage  ========================= -//
//- =========================  homepage  ========================= -//

.home-page
    padding-bottom: 80px;
    //padding: 66px 0
    @include desk
        //-padding: 204px 0


    .inline
        @include desk
            display: flex
            flex-direction: row-reverse
            justify-content: space-between


    &__hold

    .fake
        opacity: 0

    &__text
        padding-bottom: 65px
        position: relative
        @include desk
            width: 24vw;
            position: fixed;
            right: 11vw;
            padding-top: 125px;
            //-position: fixed
            //-width: 32%
            //-padding: 0
            //-padding-top: 125px

        p
            @include desk
                font-size: 29.8px
                line-height: 49px


    &__image
        @include desk
            width: 56.4%
            margin-right: 48%
            left: 0
            position: relative;
            padding-bottom: 5vh

            img
                box-shadow: -60px 70px 84px #D29708;

.js-release-text-home-page
    transform: translateY(-80px);






//- =========================  INNERPAGES  ========================= -//
//- =========================  INNERPAGES  ========================= -//
.inner-pages > *
    box-sizing: border-box
.inner-pages
    padding-bottom: 162px
    @include desk
        width: 100vw
        padding-bottom: 220px
        margin-top: -80px;


    &__hold
        @include mobile
            width: 90vw !important
            margin-left: 5vw
        @include tablet
            width: 90vw !important
            margin-left: 5vw

    &__texts
        margin-bottom: 75px

    &__imgs
        @include desk
            height: 590px
            width: 100%
            margin-top: 100px;
            margin-left: 10vw;

        &__travel
            @include desk
                height: 590px
                display: inline-flex
            @include mobile
                display: block
                width: 100% !important
            @include tablet
                display: block
                width: 100% !important


        .each-inner-page
            margin-bottom: 45px
            @include desk
                margin: 0
                height: 590px
                width: 875px
                margin-right: 50px

    &__cntrl
        @include desk
            margin-top: 36px
            display: inline-flex
            margin-left: 10vw
            justify-content: space-between
            width: 981px;


        .numbers
            font-size: 35px

            .dyna
                margin-right: 6px;
                transform: translateY(-10px)

            .divider
                opacity: .20;
                width: 2px;
                height: 28px;
                transform: rotate(25deg) translateY(2px) translateX(2px);
                margin-right: 6px;

            .static
                position: relative
                margin-top: 18px
                opacity: .20

        .indicator
            width: 845px
            height: 2px
            margin-top: 37px

            .indic-static
                opacity: 0.20

//- =========================  CONCLUSION  ========================= -//
//- =========================  CONCLUSION  ========================= -//

.conclusion
    padding-top: 200px;
    padding-bottom: 200px;
    h3
        text-align: center;
        margin-bottom: 100px;
    p
        width: 67vw;
        font-size: 2.2vw;
        color: #5c5c5c;
        line-height: 1.5em;
        text-align: center
        margin: 0 auto;
    dl
        margin-top: 100px;
        text-align: center
    dt
        @include serif;
        font-size: 17.3vw;
        margin-bottom: 50px;
        color: #101010;
    dd
        font-size: 2.2vw;

//- =========================  VISIT THE SITE  ========================= -//
//- =========================  VISIT THE SITE  ========================= -//
.visit-the-site
	display: flex
	justify-content: center
	align-items: center
	background-color: #fff
	padding-bottom: 162px;
	border-bottom: 1px solid #e5e5e5;
	@include desk
		padding-bottom: 220px
		//-padding-top: 220px

	a,
	span,
	div
		text-align: center
		font-size: 21px !important
		font-weight: 900 !important
		color: black

	span
		display: block
		margin-top: 2rem











//- =========================  NEXT PROJECT  ========================= -//
//- =========================  NEXT PROJECT  ========================= -//
.next
    position: relative
    z-index: 1
    background: #fff
    @include desk
        //-padding-top: 180px
        padding-bottom: 120px

    &__hold


    &__subt
        letter-spacing: 3px
        font-size: 16px
        margin-bottom: 28px


    &__title

        h1
            font-size: 89px
            @include desk
                font-size: 17.3vw
                color: rgba(0, 0, 0, 0)



    &__previous
        left: -9vw
        top: 25%
        transform: rotate(270deg)

        span
            font-size: 14px


