#main-archived
    canvas#view-archived

.modal-zoom.e-wvw.e-hvh.e-fixed
    .modal-zoom__hold.e-rel.e-wp.e-hp.e-flex
        .modal-zoom__fader.e-black.e-abs.e-wp.e-hp
        .modal-zoom__bg.e-black.e-abs.e-wp.e-hp
        .modal-zoom__img.e-abs
            img(src="#", alt="#").e-hp

        button.modal-zoom__close.e-abs.e-curp
            span.t-white CLOSE
