#main-archived
    .page-title
        h1
            span Play
            span.offset ground
        p.instructions Click to Zoom
    p.scroll-indicator Scroll
    canvas#view-archived

.modal-zoom.e-wvw.e-hvh.e-fixed
    .modal-zoom__hold.e-rel.e-wp.e-hp.e-flex
        .modal-zoom__fader.e-black.e-abs.e-wp.e-hp
        .modal-zoom__bg.e-black.e-abs.e-wp.e-hp
        .modal-zoom__img.e-abs
            img(src="#", alt="#").e-hp
            p.name-wrapper
                span.name
                a(href="#", target="_blank", rel="noopener nofollow noreferer")
                    button.e-curp.hover-line.scale
                        span.t-switch See more on Dribbble
                        .line-link.e-wp.e-switch

        button.modal-zoom__close.e-abs.e-curp
            span.t-white CLOSE
