footer.footer.scroll-footer.e-hidden
    .hold-home
        //- =========================  CTA
        .footer__cta
            .footer__cta__title
                h1.title-home.t-switch Let&rsquo;s tell
                h1.title-home.t-switch your story

            .footer__cta__email
                a(href!="maito:hello@hellotonton.com")
                    button.e-curp.hover-line.scale
                        span.e-sans.t-switch-gray.t-switch hello[at]hellotonton[dot]com
                            div.line.e-wp.e-switch-gray

        //- =========================  SOCIAIS
        .footer__sociais.e-wp
            a(href="https://dribbble.com/jaslintonton")
                button.e-curp.hover-line.scale
                    span.t-switch-gray Dribbble
                    .line-link.e-wp.e-switch-gray

            a(href="https://www.behance.net/jtonton")
                button.e-curp.hover-line.scale
                    span.t-switch-gray Behance
                    .line-link.e-wp.e-switch-gray

            a(href="https://linkedin.com/in/jaslintonton")
                button.e-curp.hover-line.scale
                    span.t-switch-gray LinkedIn
                    .line-link.e-wp.e-switch-gray

        //- =========================  SOCIAIS
        .footer__rights.e-wp
            span.t-switch-gray &copy; 2021<?php if(date('Y') > 2021) echo '&ndash;'.date('Y')?>. All Rights Reserved.

            span.scale
                    span.t-switch-gray Developed by: 
                    span.vw.t-switch-gray.e-rel Victor Work
                        .line-link.e-wp.e-switch-gray

            span.t-switch-gray CMD + S by Grace

    <?php wp_footer(); ?>
