footer.footer.scroll-footer
    .hold-home
        //- =========================  CTA                       
        .footer__cta
            .footer__cta__title
                h1.title-home.t-switch Let's do 
                h1.title-home.t-switch something
                h1.title-home.t-switch.no-desk amazing
            
            .footer__cta__email
                a(href="mailto:hello@hellotonton.com")
                    button.e-curp.hover-line.scale
                        span.e-sans.t-switch-gray.t-switch Hello@hellotonton.com
                            .line.e-wp.e-switch-gray

        //- =========================  SOCIAIS               
        .footer__sociais.e-wp
            a(href="#")
                button.e-curp.hover-line.scale
                    span.t-switch-gray Dribbble
                    .line-link.e-wp.e-switch-gray

            a(href="#")
                button.e-curp.hover-line.scale
                    span.t-switch-gray Behance
                    .line-link.e-wp.e-switch-gray

            a(href="#")
                button.e-curp.hover-line.scale
                    span.t-switch-gray LinkedIn
                    .line-link.e-wp.e-switch-gray

        //- =========================  SOCIAIS               
        .footer__rights.e-wp
            span.t-switch-gray  &copy; #[span.year-js.t-switch-gray 2020]. All Rights Reserved.
            
            a(href="https://victor.work" target="_blank")
                button.e-curp.hover-line.scale
                    span.t-switch-gray Developed by: 
                    span.vw.t-switch-gray.e-rel Victor Work
                        .line-link.e-wp.e-switch-gray
                        
            span.t-switch-gray CMD + S by Grace

    <?php wp_footer(); ?>