extends ../index
block title
    <?php
    |   //Template Name: Home
    |?>

block content
    .barba-container.page-home.e-wp(data-barba="container", data-barba-namespace="home", data-namespace="home" data-current!="" data-scroll-content)
        .imgs-hidden.e-hidden
            //-each list, index in['1','2','3','4','5','6']
                img(src!='<?php echo get_template_directory_uri(); ?>/images/texture'+list+'.jpg', alt='').js-img.img-load
                //-img(src!='https://raw.githubusercontent.com/Efetivos/gallery/master/nicole/slider-nicole0'+list+'.jpg', alt='').js-img.img-load

            <?php if(have_rows('folio_rpt','option')): while(have_rows('folio_rpt','option')) : the_row(); ?>
                img(src!="<?php echo get_sub_field('image_project')['url']; ?>" alt!="<?php echo get_sub_field('image_project')['alt']; ?>").js-img.img-load
            <?php endwhile; else : endif; ?>

        //-a(href!="<?php echo get_site_url(); ?>/single")
            h1 go to single

        .e-hold
            //- =========================  HEADER  ========================= -//
            //- =========================  HEADER  ========================= -//
            header.header-home.e-wp
                button.header-home__welcome.no-mobile.e-rel.e-curp.hover-line.scale
                    .t-switch-gray.e-rel.wrap
                        .wrapped 👋 Bienvenue
                        .line.e-wp.e-switch-gray.e-switch
                .header-home__gif.e-abs.no-mobile
                    img(src!='<?php echo get_template_directory_uri(); ?>/images/seinfield.gif').e-wp

                .header-home__title
                    .hold-home
                        h1.title-home.t-switch.pushoff.wrap
                            .wrapped Digital
                        h1.title-home.t-switch.wrap.line2
                            .wrapped Designer &amp;
                        h1.title-home.t-switch.wrap
                            .wrapped Storyteller

                .header-home__infos
                    .header-home__infos__name
                        h2.t-switch-gray.wrap
                            .wrapped Jaslin Tonton
                    .header-home__infos__role
                        h2.t-switch-gray.wrap
                            .wrapped Creative Director/Digital Designer
                        h2.t-switch-gray.wrap
                            .wrapped <?=date('Y') - 2012?>+ Years of Experience
                    .header-home__infos__available
                        h2.t-switch-gray.wrap
                            .wrapped Available for Work
                        script.
                            user = 'hello';
                            site = 'hellotonton';
                            document.write('<div class="t-switch-gray wrap"><div class="wrapped"><a href=\"mailto:' + user + '@' + site + '.com\"><button class="t-switch-gray e-curp hover-line scale">');
                            document.write(user + '[at]' + site + '[dot]com<div class="line e-wp e-switch-gray e-switch"></div></button></a></div></div>');

            main.main-home.e-wp

                //- =========================  ABOUT  ========================= -//
                //- =========================  ABOUT  ========================= -//
                section.about
                    .hold-home.scroll-about
                        // img(src="https://dummyimage.com/271x294", alt="")
                        video(width="304", height="322" muted="true", loop="true", src!="<?=get_template_directory_uri();?>/images/emoji-head.mp4")

                        .hold-p
                            p.t-switch.about-header Tonton. Name&rsquo;s so nice,</br> you say it twice.
                            p.t-switch I'm Jaslin (JAYs-lin) Tonton, an Orlando based Creative Director / Digital Designer with 9+ years of experience.

                            p.t-switch  For nearly a decade, I’ve helped inspire and direct creative teams toward idea-driven strategies, minimalism, and practical design.

                            p.t-switch  I’m open to new and exciting opportunities and would love to work with you.

                //- =========================  WORKS HOME  ========================= -//
                //- =========================  WORKS HOME  ========================= -//
                section.works
                    .hold-home.scroll-works
                        h1.title-home.t-switch.wrap.start-works
                            .wrapped Featured
                        h1.title-home.t-switch.text-padding
                            .wrapped Work

                        .links-folio#folio-ctn
                            //-
                            <?php if(have_rows('folio_rpt','option')): while(have_rows('folio_rpt','option')) : the_row(); ?>
                                .links-folio__each
                                    //-div( data-to="single" data-from="home" data-color!=""+item.color)
                                    a(href!="<?php echo get_site_url(); ?>/<?php the_sub_field('url_project'); ?>" data-to="single" data-from="home" data-color!="<?php the_sub_field('color_project'); ?>")
                                        button.e-curp.hover-line
                                            h1.e-sans.t-switch.wrap
                                                .wrapped.title-folio <?php the_sub_field('title_project'); ?>
                                                .line-link.e-wp.e-switch
                            <?php endwhile; else : endif; ?>

                            //-
                                - var list = []
                                - list.push({title: 'Enjine', path:'single', color: '#FFB608'})
                                - list.push({title: 'Amalise', path:'single', color: '#2ECC71'})
                                - list.push({title: 'A Brilliant Lie', path:'single', color: '#2980B9'} )
                                - list.push({title: 'MyString', path:'single', color: '#ff0000'})
                                each item, index in list
                                    .links-folio__each
                                        //-div( data-to="single" data-from="home" data-color!=""+item.color)
                                        //-a(href!="<?php echo get_site_url(); ?>/"+item.path data-to="single" data-from="home" data-color!=""+item.color)
                                        a( data-to="single" data-from="home" data-color!=""+item.color)
                                            button.e-curp.hover-line
                                                h1.e-sans.t-switch.wrap
                                                    .wrapped.title-folio=item.title
                                                    .line-link.e-wp.e-switch

                            //-.view-all.hover-line
                                //-a(href!="<?php echo get_site_url(); ?>")
                                //-button.e-curp
                                    //-.e-sans.t-switch-gray.wrap
                                        //-.wrapped VIEW WORK LIST

                                //-.line.e-switch-gray.e-switch
                    .gap-black

        //- =========================  AWARDS  ========================= -//
        //- =========================  AWARDS  ========================= -//
        section.awards.e-wp
            .award__hold.e-hold
                .hold-home
                    .inline
                        .awards__title.start-awards
                            h1.e-bold.t-switch.wrap
                                .wrapped Awards
                            h1.e-bold.t-switch.wrap
                                .wrapped & Recognition

                        .awards__fields
                            .each-field
                                .site
                                    .e-bold.t-switch-gray.wrap
                                        .wrapped Behance
                                .recog
                                    .t-switch-gray.wrap
                                        .wrapped Pantone
                                    .t-switch-gray.wrap
                                        .wrapped Student Show

                            //-.each-field
                                //-.site
                                    //-.e-bold.t-switch-gray.wrap
                                        //-.wrapped Awwwards
                                //-.recog
                                    //-.t-switch-gray.wrap
                                        //-.wrapped SOTD

                            .each-field
                                .site
                                    .e-bold.t-switch-gray.wrap
                                        .wrapped Webby&rsquo;s
                                .recog
                                    .t-switch-gray.wrap
                                        .wrapped Tech Something
        <?php include 'includes/myfooter.php'; ?>
